SNAPLINE_BIND=0.0.0.0:8080
SNAPLINE_DATABASE_URL=postgres://snapline:change-me@postgres:5432/snapline
SNAPLINE_JWT_SECRET=replace-with-at-least-32-random-characters
SNAPLINE_ACCESS_TOKEN_TTL_SECONDS=900
SNAPLINE_REFRESH_TOKEN_TTL_SECONDS=2592000
SNAPLINE_OBJECT_DIR=/data/objects
RUST_LOG=snapline_server=info,tower_http=info
